@charset "UTF-8";

/* font-face为添加内容，目的：引入字体 */
@font-face {
  font-family: 'LM Roman 10';
  font-style: normal;
  font-weight: normal;
  src: url("./latex/lmroman10-regular.otf");
}

@font-face {
  font-family:'LM Roman 10';
  font-style:italic;
  font-weight: normal;
  src: url("./latex/lmroman10-italic.otf");
}

@font-face {
  font-family: 'LM Roman 10';
  font-style: normal;
  font-weight:bold;
  src: url("./latex/lmroman10-bold.otf");
}

@font-face {
  font-family:'LM Roman 10';
  font-style:italic;
  font-weight:bold;
  src: url("./latex/lmroman10-bolditalic.otf");
}

/*这里是代码块字体*/

@font-face {
  font-family: 'LM Mono 10';
  font-style: normal;
  font-weight: normal;
  src: url("./latex/lmmono10-regular.otf");
}

@font-face {
  font-family: 'LM Mono 10';
  font-style: italic ;
  font-weight: normal;
  src: url("./latex/lmmono10-italic.otf");
}

/*这里是中文字体，我们导入了思源宋体、宋体。*/ 
/*按理说宋体就够了，但是Typora宋体显示效果感人，暂时换成思源宋体*/
@font-face {
  font-family: 'Source Han Serif';
  font-style: normal;
  font-weight: normal;
  src: url("./latex/SourceHanSerifSC-Regular.otf");
}

@font-face {
  font-family: 'Source Han Serif';
  font-style: normal;
  font-weight: bold;
  src: url("./latex/SourceHanSerifSC-Bold.otf");
}

@font-face {
  font-family: simsun;
  src: url("./latex/simsun.ttc");
}


:root {
  /* == 字体设置 == */
  /* 基准字体 */
  /* 备选：Times, "Times New Roman" */
  --base-Latin-font: "LM Roman 10", "Latin Modern Roman", "Latin Modern Roman 10", Times;
  /* --base-Latin-font: "Latin Modern Roman", "Latin Modern Roman 10", Times; */
  --base-Chinese-font: "Source Han Serif", "家族宋", "宋体-简", "华文宋体", "Noto Serif CJK SC";
  /* --base-Chinese-font: "家族宋", "宋体-简", "华文宋体", "Noto Serif CJK SC"; */
  --base-font-size: 9.5pt;
  /* 引言字体 */
  --quote-font: "Latin Modern Roman", "Latin Modern Roman 10", Times,
    "Times New Roman", "华文仿宋";
  /* em单位为一个正文字符（--base-font-size）大小，
  例如，如果您设置 --base-font-size 为 9.5pt，那么 1.05em = 1.05*9.5pt ≈ 10pt。下面的标题字体等设置也遵循该规则。
  这样，您就可以仅通过调整基准字体大小，而动态对其他元素大小做出调整。
  当然，您也可以直接设置以pt或px为单位的数值，将元素的大小固定下来，如 --quote-font-size: 10pt; */
  --quote-font-size: 1.05em;
  /* 代码字体（代码中的中文会调用 ui-font） */
  /* "Courier New" 从 Windows 3.1 起成为 Windows 官方提供的字体 */
  /* "Consolas" 从 Windows Vista 起成为 Windows 官方提供的字体 */
  --code-font: "Latin Modern Mono", "Latin Modern Mono 10", "Consolas", "Courier New";
  /* 侧边栏字体 */
  --ui-font: "阿里巴巴普惠体 2.0", "微软雅黑";
  /* source mode 字体 */
  /* 默认调用 code-font 和 ui-font */
  --sourceMode-font: "SF Mono", "阿里巴巴普惠体 2.0", "微软雅黑";
  /* 目录字体 */
  /* 默认调用 base-font */
  --toc-font: "";
  /* 默认调用 base-font-size */
  --toc-font-size: "";
  /* 公式字体 */
  --math-font-size: 1.2em;
  /* 表格字体 */
  /* 默认调用 heading-font */
  --table-title-font: "";
  /* 默认调用 base-font */
  --table-font: "";
  /* 标题字体（总设置） */
  --heading-Latin-font: var(--base-Latin-font);
  --heading-Chinese-font: "华文黑体";
  /* 标题字体分别设置 */
  /* 大标题（h1）字体 */
  --title-Chinese-font: "华文黑体";
  --title-font-size: 1.9em;
  /* h2字体 */
  --h2-Chinese-font: "华文黑体";
  --h2-font-size: 1.5em;
  /* h3字体 */
  --h3-Chinese-font: "华文黑体";
  --h3-font-size: 1.25em;
  /* h4字体 */
  --h4-Chinese-font: "华文楷体";
  --h4-font-size: 1.15em;
  /* h5字体 */
  --h5-Chinese-font: "华文仿宋";
  --h5-font-size: 1.10em;
  /* h6字体 */
  --h6-Chinese-font: "华文仿宋";
  --h6-font-size: 1.05em;
  /* 粗体样式设置 */
  /* 加粗风格时使用的字重；400等同于 normal，700等同于 bold，900等同于 heavy */
  --strong-weight: 900;
  /* 基础行距 */
  --base-line-height: 1.618em;
  /* == 页面设置 == */
  /* 打印页边距 */
  --set-margin: 1.8cm 2cm 1.2cm 2cm !important;
  /* == 控制设置 == */
  /* 目录中是否显示一级标题 */
  --toc-show-title: none;
  /* == 颜色设置 == */
  /* 超链接颜色 */
  --link-color-light: #2E67D3;
  --link-color-dark: #8bb1f9;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  /* counter-reset: tableHead 0 imgHead 0; */
}

@media print {
  #write {
    padding: 0 !important;
  }

  @page {
    margin: 1.8cm 2cm 1.2cm 2cm !important;
    /* 页边距 */
  }
}
#write {
  font-family: var(--base-Latin-font), var(--base-Chinese-font), serif;
  font-size: var(--base-font-size);
  /* A4标准宽度 */
  max-width: 21cm;
  background-color: white;
  /* column-count: 2;
    column-gap: 25px;
    column-width: 8cm; 
    display: inline-block; */
  /* 这里可以试分栏的，但确实不适合实现 */
}
#write .md-math-block,
#write .md-rawblock,
#write p {
  margin-top: 1em;
  margin-bottom: 1em;
}
#write p {
  text-align: left;
  line-height: var(--base-line-height);
}
#write a {
  color: var(--link-color-light);
}

hr {
  border-top: solid 1px #ddd;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

img {
  /* 避免图片在导出时被断开 */
  page-break-inside: avoid;
}

strong {
  font-weight: var(--strong-weight);
}

@media screen {
  #write {
    padding: var(--set-margin);
    /* 添加一个淡蓝色的边框 */
    /* border: 0.8px solid #AAC ; */
    /* 页边阴影 */
    box-shadow: 0 0 24px 12px #cccccc;
  }
}
.MathJax {
  font-size: var(--math-font-size);
}

/* typora 编写模式 */
#typora-source {
  font-family: var(--sourceMode-font), var(--code-font), var(--ui-font), monospace;
  line-height: 2em;
}

/* 侧边大纲标题 */
.sidebar-content .outline-h1 {
  counter-reset: outline-h2;
}
.sidebar-content .outline-h2 {
  counter-reset: outline-h3;
}
.sidebar-content .outline-h2 .outline-label:before {
  counter-increment: outline-h2;
  content: counter(outline-h2) " ";
}
.sidebar-content .outline-h3 {
  counter-reset: outline-h4;
}
.sidebar-content .outline-h3 .outline-label:before {
  counter-increment: outline-h3;
  content: counter(outline-h2) "." counter(outline-h3) "  ";
}
.sidebar-content .outline-h4 {
  counter-reset: outline-h5;
}
.sidebar-content .outline-h4 .outline-label:before {
  counter-increment: outline-h4;
  content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4) "  ";
}
.sidebar-content .outline-h5 {
  counter-reset: outline-h6;
}
.sidebar-content .outline-h5 .outline-label:before {
  counter-increment: outline-h5;
  content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4) "." counter(outline-h5) "  ";
}

.sidebar-content {
  /* 侧边栏的字体修改 */
  font-family: var(--ui-font);
  list-style: none;
}

/* 元数据（如 YAML front matter）的背景框 */
pre.md-meta-block {
  background: #cccccc;
  padding: 1.4em;
  font-family: var(--code-font), var(--ui-font), monospace;
  font-size: 0.8em;
}

#write > h3.md-focus:before,
#write > h4.md-focus:before,
#write > h5.md-focus:before,
#write > h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
  color: inherit;
  border: inherit;
  border-radius: inherit;
  position: inherit;
  left: initial;
  float: none;
  top: initial;
  font-size: inherit;
  padding-left: inherit;
  padding-right: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  line-height: inherit;
}


/* 标题样式 */
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
  font-weight: bold;
  page-break-after: avoid !important;
}

#write h1 {
  font-family: var(--heading-Latin-font), var(--title-Chinese-font), serif;
  text-align: center;
  column-span: all;
  font-size: var(--title-font-size);
}

#write h2 {
  font-family: var(--heading-Latin-font), var(--h2-Chinese-font), serif;
  font-size: var(--h2-font-size);
}
#write h3 {
  font-family: var(--heading-Latin-font), var(--h3-Chinese-font), serif;
  font-size: var(--h3-font-size);
  line-height: var(--h3-font-size);
}
#write h4 {
  font-family: var(--heading-Latin-font), var(--h4-Chinese-font), serif;
  font-size: var(--h4-font-size);
  line-height: var(--h4-font-size);
}
#write h5 {
  font-family: var(--heading-Latin-font), var(--h5-Chinese-font), serif;
  font-size: var(--h5-font-size);
  line-height: var(--h5-font-size);
}
#write h6 {
  font-family: var(--heading-Latin-font), var(--h6-Chinese-font), serif;
  font-size: var(--h6-font-size);
  /* 没有写错，为了避免行距太小才这么写 */
  line-height: var(--h5-font-size);
}


/* 参考文献（脚注）块 */
.footnotes {
  font-size: 0.95em;
}

.footnotes-area .footnote-line {
  color: var(--text-color);
}
.footnotes-area hr {
  border: 0;
  color: #00000000;
}

/* 无序列表 */
ul {
  list-style: disc;
}
ul ul {
  /*list-style: circle;*/
  /* 请勿删除“–”后的空格, 他们对缩进有一定影响, 下同 */
  list-style: "–   ";
}
ul ul ul {
  list-style: "◦  ";
}

/* 有序列表 */
ol {
  list-style: decimal;
}
ol ol {
  counter-reset: liist;
  list-style: none;
}
ol ol li {
  counter-increment: liist;
  position: relative;
}
ol ol li::before {
  content: "(" counter(liist,lower-alpha) ")";
  position: absolute;
  left: -1.8em;
}
ol ol ol {
  counter-reset: liiist;
  list-style: none;
  margin: 0;
}
ol ol ol li {
  counter-increment: liiist;
  position: relative;
}
ol ol ol li::before {
  content: counter(liiist,lower-roman) ".";
  align-self: flex-end;
  position: absolute;
  left: -4.5em;
  /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
  /* 为了让项目编号是重新用句点对齐而不是左对齐 */
  width: 4em;
  text-align: right;
}

li {
  position: relative;
}

ol, ul {
  padding-inline-start: 2em;
}

/* task列表 */
.md-task-list-item > input {
  margin-top: 0.42em;
  margin-left: -1.5em;
  width: 1em !important;
  height: 1em !important;
}

#write table {
  /* 三线表第一条线宽度 */
  border-top: 1.2pt solid;
  /* 三线表第二条线宽度 */
  border-bottom: 1.2pt solid;
  font-family: var(--table-font), var(--base-Latin-font), var(--base-Chinese-font), serif;
  /* font-size: var(--base-font-size); */
  text-align: center;
  page-break-inside: avoid;
  border-spacing: 6px;
  /* 自动布局表格宽度，如果有时内容太紧建议直接加空格吧，我自己看不惯和页面等宽的大表格 */
  width: auto;
  /* 使表格默认居中；虽然这个代码不好，但好像没别的实现办法 */
  margin: 0 auto;
}
#write table td {
  padding: 2px;
}
#write table tr {
  padding: 2px;
}
#write th {
  padding: 0px 6px;
}
#write thead {
  /* 表格标题（首行）样式 */
  /* 三线表表头的线 */
  border-bottom: 0.5pt solid;
  font-family: var(--table-title-font), var(--heading-Latin-font), var(--heading-Chinese-font), serif !important;
  /* font-size: var(--base-font-size); */
  font-weight: var(--strong-weight);
}

/* 一个>的引言仅为两字符缩进，使用>>的引言为传统引言样式，具有左竖线、左缩进 */
blockquote {
  font-style: normal;
  font-family: var(--quote-font), var(--base-Latin-font), var(--base-Chinese-font), -apple-system, serif;
  font-size: var(--quote-font-size);
  /* 文字离左边框的距离 */
  padding-left: 2em;
  padding-right: 2em;
  /* 左边框离页面边的距离 */
  margin-left: 0;
  
  /* 左栏引用条 */
  border-left: 4px solid #dfe2e5;
  /* 文字颜色 */
  color: #5e5c5c;
}

blockquote p:first-child {
  padding-top: 1ch;
}

blockquote p:last-child {
  padding-bottom: 1ch;
}

blockquote blockquote {
  border-left: 4px solid #b3b3b3;
  padding-left: calc(2ch - 4px);
  padding-right: 0;
  margin-left: -4px;
  border-radius: 0;
}

/* 行内代码 */
code {
  font-family: var(--code-font), var(--ui-font), monospace;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code,
p code, table code,
li code {
  color: #c7254e;
  background-color: #f9f2f4;
  /* 阴影 */
  box-shadow: 0 0 1px 1px #c8d3df;
  font-family: var(--code-font), var(--ui-font), monospace;
  box-sizing: border-box;
  border-right: 0px;
  margin: 0 2px 0 2px;
  padding: 0 2px 0 2px;
  /* 圆角 */
  border-radius: 2px 2px 2px 2px;
}

/* 目录 */
.md-toc {
  font-size: var(--toc-font-size);
}

.md-toc-content {
  margin-left: 2em;
  /* 修复缺失上级标题时无法递增 */
  counter-reset: toc-h2 toc-h3 toc-h4;
  page-break-after: always;
}

.md-toc-inner {
  margin-left: 0 !important;
  color: var(--text-color) !important;
}

.md-toc-item {
  color: var(--text-color) !important;
}

/* 目录标题内容属性 */
.md-toc-h2,
.md-toc-h3,
.md-toc-h4,
.md-toc-h5,
.md-toc-h6 {
  font-size: var(--toc-font-size);
  font-family: var(--toc-font), var(--base-Latin-font), var(--base-Chinese-font), serif;
}

.md-toc-h2 {
  font-weight: var(--strong-weight);
}

/* 代码块样式 */
.md-fences,
.CodeMirror pre {
  border-radius: 3px;
  padding: 2px 2px 2px 4px;
  font-size: 0.9em;
}

.CodeMirror-wrap {
  font-size: 1em;
}

.CodeMirror-code pre {
  font-family: var(--code-font), var(--ui-font), monospace;
}

#write code {
    border-radius: 4px;
    margin: 2px;
    word-spacing: normal;
    line-height: 1.6;
    padding: 0 2px;
}

.md-fences {
    background-color: #383837;
    color: rgba(233, 237, 237, 1);
    border: none;
}

.md-fences .code-tooltip {
    background-color: #383837;
}
.cm-s-inner .CodeMirror {background: #2b2b2b; color: #f4f1ed;}
.cm-s-inner div.CodeMirror-selected {background: #272935 !important;}
.cm-s-inner .CodeMirror-gutters {
	/* 代码块行号样式 */
    color: rgb(83,127,126);
	background: #2b2b2b;
	border-right: 2px solid rgb(133,72,69);
	padding: 2px;
	margin: 1px;
}
/* 代码块高亮样式 */
.cm-s-inner span.cm-comment {color: #bc9458;}
.cm-s-inner .cm-atom { color: #F77669; }
.cm-s-inner .cm-number { color: #F77669; }
.cm-s-inner .cm-keyword { color: rgba(199, 146, 234, 1); }
.cm-s-inner .cm-operator { color: rgba(233, 237, 237, 1); }
.cm-s-inner .cm-string { color: #C3E88D; }
.cm-s-inner .cm-string-2 { color: #80CBC4; }
.cm-s-inner .cm-def { color: rgba(233, 237, 237, 1); }
.cm-s-inner .cm-variable { color: #82B1FF; }
.cm-s-inner .cm-tag { color: #80CBC4; }
.cm-s-inner .cm-meta { color: #80CBC4; }
.cm-s-inner .cm-attribute { color: #FFCB6B; }
.cm-s-inner .cm-property { color: #80CBAE; }
.cm-s-inner .cm-qualifier { color: #DECB6B; }
.cm-s-inner .cm-variable-3 { color: #DECB6B; }
.cm-s-inner .cm-tag { color: rgba(255, 83, 112, 1); }
.cm-s-inner .cm-variable-2 { color: #80CBC4; }
.cm-s-inner .cm-variable-3 { color: #82B1FF; }
.cm-s-inner .cm-builtin { color: #DECB6B; }
.cm-s-inner .CodeMirror-linenumber {color: #5a647e;}
.cm-s-inner .CodeMirror-cursor {border-left: 1px solid #d4cfc9 !important;}
.cm-s-inner span.cm-property, .cm-s-inner span.cm-attribute {color: #a5c261;}
.cm-s-inner .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-inner .CodeMirror-activeline-background { background: #303040; }
.CodeMirror-activeline {
	color: gray;
}


/*
.cm-s-inner span.cm-string {color: #ffc66d;}
.cm-s-inner span.cm-variable {color: #a5c261;}
.cm-s-inner span.cm-variable-2 {color: #6d9cbe;}
.cm-s-inner span.cm-def {color: #cc7833;}
.cm-s-inner span.cm-error {background: #da4939; color: #d4cfc9;}
.cm-s-inner span.cm-bracket {color: #f4f1ed;}
.cm-s-inner span.cm-tag {color: #da4939;}
.cm-s-inner span.cm-link {color: #b6b3eb;}
*/

